<ion-header>

    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only menu-toggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Fotbollsplan</ion-title>
        <ion-title>{{ viewTitle }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h1 class="name">{{field?.name}}</h1>

    <h2 id="visitors" class="">{{field?.visitors}}</h2>

    <button ion-button icon-end small round float-right color="assertive" (click)="toTheChatRoom()">
        Chatta
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
    </button>

    <bar-rating (rateChange)="setRate" [(ngModel)]="currentrating"></bar-rating>
    <!-- DEBUG -->{{currentrating}}


    <!-- ändrat från showActivities() till gotocalendar för att få fram kalendern-->
    <button ion-button icon-left full color="dark" (click)="goToCalendar()">
        <ion-icon name="md-calendar"></ion-icon>{{buttonText}}</button>

    <!-- Lampknappen -->
    <button ion-button icon-left full color="dark" *ngIf="field?.lights == false" (click)="lightsOn(field.id)">
        <ion-icon name="md-add-circle"></ion-icon>
        Tänd belysning</button>

    <button ion-button icon-left full color="dark" *ngIf="field?.lights == true" [disabled]="true">
        <ion-icon name="md-bulb"></ion-icon>
        Planen är tänd</button>
</ion-content>