<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fotbollsplaner i Stockholm</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <!-- <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)"> -->
        <!-- <ion-icon [name]="item.icon" item-start></ion-icon> -->
        <!-- {{item.title}} -->
        <!-- <div class="item-note" item-end>
             {{item.note}} -->
        <!-- </div> -->
        <!-- </button> -->

        
        <button ion-item *ngFor="let field of fields" (click)="showField(field.id)">
            <ion-icon name="bulb" item-start></ion-icon>
            {{field.name}}
            <h2>{{field.id}}</h2>
            
        </button>
        
    </ion-list>
    
</ion-content>
