page-home {
    #map {
        height:70%;
    }
    ion-content {
        background-image: url('../assets/imgs/bg.png');
    }

    .stopBtn{
        background-color: rgb(1, 156, 213);
        color: white;
    }
}
