// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../../ngx-bar-rating/themes/br-default-theme';
.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2); }
    .platform-android .action-sheet {
    margin: 0; }
    .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    border-color: transparent;
    font-size: 16px;
    color: inherit; }
    .platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666; }
    .platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8; }
    .platform-android .action-sheet-group {
    margin: 0;
    border-radius: 0;
    background-color: #fafafa; }
    .platform-android .action-sheet-cancel {
    display: none; }
    .platform-android .action-sheet-has-icons .button {
    padding-left: 56px; }